<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
    </head>
    <body>
        {%if mensajes%}
            {%for mensaje in mensajes%}
                <div class="selectable">
                    <p>{{mensaje.texto}}</p>
                    <span>De: {{mensaje.remitente}} A: {{mensaje.destinatario}} - {{mensaje.fecha_y_hora}}</span>
                </div>
            {%endfor%}
        {%else%}
            <h2>No hay mensajes&excl;</h2>
        {%endif%}
    </body>
</html>