body {
    background-color: rgb(1, 1, 31);
    padding: 1.2rem;
}

h1, h2 {
    color: white;
}

nav ul {
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

li a {
    text-decoration: none;
    color: white;
}


div {
    background-color: aliceblue;
    padding: 0.5em;
    margin: 10px 0px;
    border-radius: 5px;
    p {
        margin: 5px 5px 5px 0px;
    }
}

span {
    font-size: x-small;
    font-weight: 600;
    color: rgb(39, 39, 39);
}

#pedirnombre, #inputnombre {
    display: none;
}

.selected {
    background-color: rgb(255, 255, 182);
}

form {
    div {
        width: 50%;
    }
    label{
        color:black;
        font-weight: 600;
        display: block;
        margin-bottom: 5px;
    }
    input, textarea {
        border: 1px solid black;
        border-radius: 5px;
        padding: 5px;
        color: black;
    }
}

.submit {
    background-color: white;
    font-size: medium;
    font-weight: 500;
    color: black;
}

